<div id="carouselExampleInterval" class="carousel slide p-0 m-0" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="/assets/col1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/assets/col2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/assets/col3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<div class="container mt-3 mb-3">

    <div class="row my-4">
        <div class="col-12 text-center">
            <p class="display-5 m-0 fw-bold text-black"> Welcome to our Pope John Paul II School </p>
            <p class="fs-6 m-0 text-gray mt-1">Re-Accredited With An "A" Grade By NAAC</p>
        </div>
    </div>


    <div class="row">
        <div class="glass p-3">
            <div class="col-12 text-center">
                <p class="fs-6 m-0 text-black mb-3">Pope John Paul II School of Education was founded by His
                    Grace, Dr.V.S.Selvanathar, Former Archbishop of Pondicherry and Cuddalore, on 23rd 1986 to
                    commermorate the historic visit of Saintly Pope John Paul II to India.
                    It is a Christian minority Institution established and managed by the Archdiocese of Pondicherry -
                    Cuddalore.</p>

                <p class="fs-6 m-0 text-black mb-3">
                    Over the years, guided by the illustrious former Archbishop Dr.Michael Augustine and the present
                    Archbishop DR. MSGR. FRANCIS KALIST, the School has evolved into a premier institution of teacher
                    training, ushering transformational changes in administration, providing optimum infrastructural
                    facilities, diversifying courses, adopting innovative digital teaching learning strategies and
                    maintaining a positive learning environment.
                </p>

                <div class="m-1">
                    <button class="btn border-0 rounded-0 btn-cus">Read More
                        <i class="bi bi-chevron-right"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>


</div>



<div class="container my-5">
    <div class="row mb-5">
        <div class="col-lg-6">
            <div class="border-start border-5 border-dark ps-4">
                <h1 class="display-6 fw-bold mb-0">
                    News
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="imgbox">
                <img src="/assets/admission1.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div>
                        <button class="btn border-0 rounded-0 text">Read More
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="text-center mt-3">
                <p class="fs-6 m-0 fw-bold text-uppercase"> Admission is going </p>
            </div>
        </div>

        <div class="col-4">
            <div class="imgbox">
                <img src="/assets/10exam.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div>
                        <button class="btn border-0 rounded-0 text">Read More
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="text-center mt-3">
                <p class="fs-6 m-0 fw-bold text-uppercase"> 10th Exam Date is Released </p>
            </div>
        </div>

        <div class="col-4">
            <div class="imgbox">
                <img src="/assets/result.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div>
                        <button class="btn border-0 rounded-0 text">Read More
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="text-center mt-3">
                <p class="fs-6 m-0 fw-bold text-uppercase"> Exam Result </p>
            </div>
        </div>


    </div>
</div>

<div class="container my-5">
    <div class="row mb-5">

        <div class="col-lg-6">
            <div class="border-start border-5 border-dark ps-4">
                <h1 class="display-6 fw-bold mb-0">
                    Events
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="imgbox">
                <img src="/assets/short.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div>
                        <button class="btn border-0 rounded-0 text">Read More
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="text-center mt-3">
                <p class="fs-6 m-0 fw-bold text-uppercase"> Shorts Day </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid my-3">
    <div class="row">
        <div class="col-12 bg-white text-center">
            <h1 class="display-6 fw-bold p-1">
                School Achievers
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="/assets/chess.png" class="img-fluid" style="max-height: 500px;">
        </div>
        <div class="col-lg-8">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div>
                    <h1 class="display-6 fw-bold text-center">Chess Champion</h1>
                    <p class="fs-6 m-0 text-gray mt-1 text-center">State level 1st Champion under 18</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid my-3">
    <div class="row">
        <div class="col-12 bg-white text-center">
            <h1 class="display-6 fw-bold p-1">
                School Toppers
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">

            <div>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/assets/top1.png" class="img-fluid" style="max-height: 200px;">
                </div>
                <p class="fs-4 mb-0 fw-bold text-center">
                    D.Dinesh
                </p>

                <p class="fs-6 fw-semibold text-gray text-center">
                    489/500
                </p>
            </div>


        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">

            <div>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/assets/top1.png" class="img-fluid" style="max-height: 200px;">
                </div>
                <p class="fs-4 mb-0 fw-bold text-center">
                    D.Dinesh
                </p>

                <p class="fs-6 fw-semibold text-gray text-center">
                    489/500
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
            <div>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/assets/top1.png" class="img-fluid" style="max-height: 200px;">
                </div>
                <p class="fs-4 mb-0 fw-bold text-center">
                    D.Dinesh
                </p>

                <p class="fs-6 fw-semibold text-gray text-center">
                    489/500
                </p>
            </div>
        </div>
    </div>
</div>


<footer class="footer bg-dark text-light">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6">
                <!-- Footer content for left section -->
                <h5>About Us</h5>
                <p>Pope John Paul II School of Education was founded by His Grace, Dr.V.S.Selvanathar, Former Archbishop
                    of Pondicherry and Cuddalore, on 23rd 1986 to commermorate the historic visit of Saintly Pope John
                    Paul II to India. It is a Christian minority Institution established and managed by the Archdiocese
                    of Pondicherry - Cuddalore.</p>
            </div>
            <div class="col-md-3">
                <!-- Footer content for middle section -->
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <!-- Footer content for right section -->
                <h5>Contact Us</h5>
                <address>
                    <strong>Address:</strong><br>
                    1234 Street Name, City Name<br>
                    Country<br>
                    <strong>Phone:</strong> +1234567890<br>
                    <strong>Email:</strong> info@example.com
                </address>
            </div>
        </div>
    </div>
</footer>